<app-my name="Лабораторна робота №3"></app-my>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Лабораторна робота №3
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Читання даних з JSON файлу</ion-text>
      <ion-button expand="block" (click)="load()">Завантажити</ion-button>
      <ion-item>
        <ion-list>
          <ion-item button *ngFor="let item of data; index as i" detail (click)="toggleDetails(i)">
           
            <ion-label *ngIf="!showDetails[i]" text-wrap>
              <p [ngStyle]="{color:getGreenColor(item.bday, bDay)}"><span>ПІБ:</span>{{item.pib}}</p>
            </ion-label>
            <ion-text *ngIf="showDetails[i]">
              <ion-text>
                <h2 [ngStyle]="{color:getGreenColor(item.bday, bDay)}">
                  <span>ПІБ:</span>{{item.pib}}<br>
                  <span>День народження:</span>{{item.bday}}<br>
                  <span>Адреса:</span>{{item.address}}<br>
                  <span>Телефон:</span>{{item.phone}}
                </h2>
              </ion-text>
            </ion-text>
      
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
