<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав студент групи КН-32 Панасюк М.Б.</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="p_background">На заданому проміжку чисел
        [a,b] знайдіть добуток чисел,
        кратних 6.
        <ion-item>
          <ion-label position="floating">A</ion-label>
          <ion-input type="number" id="a1" value="1" #Inputa1></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">B</ion-label>
          <ion-input type="number" id="b1" value="10" #Inputb1></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="ras(Inputa1.value, Inputb1.value)">Розрахунок</ion-button>
        <ion-item>
          <p>Результат обчислення {{d1}}</p>
        </ion-item>
      </ion-card-content>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
