<app-my name="Лабораторна робота №2"></app-my>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-content>
        <ion-text>Створити додаток для табулювання і виведення на екран значення функції,<br>
          також побудувати графік функції</ion-text>
          <ion-item>
            <ion-label position="floating">Xn</ion-label>
            <ion-input type="number" id="xn" value="-1.7" #Inputxn></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Xk</ion-label>
            <ion-input type="number" id="xk" value="4.9" #Inputxk></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">a</ion-label>
            <ion-input type="number" id="a" value="1.7" #Inputa></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">h</ion-label>
            <ion-input type="number" id="h" value="0.5" #Inputh></ion-input>
          </ion-item>
          
          <ion-button expand="block" (click)="graphras(Inputxn.value,Inputxk.value,Inputa.value,Inputh.value)">
            Розрахунок
          </ion-button>

          <ion-item>
            <canvas #lineCanvas></canvas>
          </ion-item>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>